# Visual Studio Code
.vscode

# Log file
*.log

# macOS
*.DS_Store

# Windows
Thumbs.db

# SonarQube
.sonar_lock
report-task.txt

# utPLSQL
coverage.html_assets
coverage.html
coverage.xml
junit_test_results.xml
test_results.xml
junit_test_results.html
